<div class="jumbotron">
  <h1>Hello, world!</h1>
  <p>...</p>
  <p><a class="btn btn-success btn-lg" href="#" role="button">Learn more</a></p>
</div>

<br/>

<input id="ex6" type="text" data-slider-min="-5" data-slider-max="20" data-slider-step="1" data-slider-value="3"/>
<span id="ex6CurrentSliderValLabel">Current Slider Value: <span id="ex6SliderVal">3</span></span>


<br/>
<!-- Button trigger modal -->
<button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#myModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-success">Save changes</button>
      </div>
    </div>
  </div>
</div>



<div class="row">
    <div class="col-lg-6">

       
    </div>

    <div class="panel panel-success">

            <div class="panel-heading">
                    <h1>Balance</h1>
                    {{balanceInEther}} eth
            </div>

        <h1>Allowed Accounts</h1>
        <div ng-repeat="account in accounts">
            {{account.address}}: {{account.isAllowed}}
        </div>

    </div>
    <div class="col-lg-6">
        <h1>Add the contract to your wallet</h1>
        <h3>Address</h3>
        {{contract_address}}
        <h3>ABI</h3>
        {{contract_abi}}
    </div>
</div>