


<ion-view view-title="Packages For Delivery">

   <ion-nav-buttons side="right">
      <button class="button" ng-click="doSomething()">
          Balance: <strong><i class="fa fa-diamond" aria-hidden="true"></i>&nbsp {{getBalance() | number}} </strong>
      </button>
    </ion-nav-buttons>

  <ion-content delegate-handle="packagesPage">

  <div class="bar bar-header item-input-inset">
      <label class="item-input-wrapper">
        <i class="icon ion-ios-search placeholder-icon"></i>
        <input  type="search" placeholder="Search" ng-model="searchText">
      </label>
      <!--<button  class="button button-icon ion-android-cancel" style="color:white;" ng-click="searchText=''"></button>-->
      	
      &nbsp;	<span style="color:#660099;">({{ filtered.length}})</span>
        
    </div>
      <!--<div class="item  item-default" style="background-color:#ff6600;color:white;text-align:center;">
     Available Sending Requests:
      </div>-->


<ion-list class="list" can-swipe="true">
 
    <ion-item  class="item item-thumbnail-left item-icon-right " ng-repeat="sender in filtered = (friends | filter:searchText | orderBy:'id')" href="#/app/packages/{{sender.id}}">
      <img src="{{sender.img}}">
      <span class="badge badge-assertive" ng-show="sender.status == 'InTransit'">In Transit</span> 
      <span class="badge badge-balanced" ng-show="sender.status == 'Delivered'">Delivered</span> 
      <h2>{{sender.sender}}</h2>
      <p>{{sender.senderPhone}}</p>
      <p><i class="fa fa-diamond" aria-hidden="true"></i>&nbsp;{{sender.gems}} / <i class="ion-social-usd"></i>&nbsp;{{sender.gems/10 | number:2}}</p>
      <p><i class="ion-ios-navigate"></i>&nbsp;{{sender.miles}} miles away</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-balanced" ng-click="foo(district); clicked=!clicked;"><i ng-class="clicked ? 'icon ion-ios-heart-outline' : 'icon ion-heart'"></i></ion-option-button>
         <ion-option-button class="button-assertive " ng-click="goo(district)"><i class="icon ion-trash-a"></i></ion-option-button>
    </ion-item >
</ion-list>
  </ion-content>
  <div style="text-align:center;">
    <button class="button button-float" ng-click="openComposer()">
	        <i class="icon ion-plus"></i>
	  </button>
    </div>
</ion-view>
<!--

<label>Search: <input ng-model="searchText"></label>
<div class="list-group">
  <a ng-repeat="friend in friends | filter:searchText" href="/#!/senders/{{friend.id}}" class="list-group-item list-group-item-action flex-column align-items-start ">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">{{friend.name}}</h5>
      <small>{{friend.phone}}</small>
    </div>
    <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
    <small>Donec id elit non mi porta.</small>

  </a>

</div>



<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-success">Save changes</button>
      </div>
    </div>
  </div>
</div>-->