
  <!--<ion-header-bar class="bar-positive">
    <h1 class="title">Package Details</h1>
  </ion-header-bar>-->


<ion-view view-title="Package Details">

    <ion-nav-buttons side="right">
      <button class="button" ng-click="doSomething()">
          Balance: <strong><i class="fa fa-diamond" aria-hidden="true"></i>&nbsp {{getBalance()}} </strong>
      </button>
    </ion-nav-buttons>


  <ion-content class="padding" delegate-handle="show-page">
    <div class="list">



      <!--Image Starts -->
      <div class="text-center" ng-hide="imageData" ng-click="autoFill()">
        <img  class="full-image" ng-src="{{package.img}}" style="width:50%;height:50%">
      </div>

       <div class="text-center">
        <button class="button button-positive" ng-click="addPicture(true)"><i class="fa fa-diamond" aria-hidden="true"></i>&nbsp;{{package.gems}}</button>
      </div>
      <!--Image Ends-->

      <p></p>


      <div class="item item-divider">
        Sender Info
      </div>
      <label class="item item-input item-stacked-label">
              <span class="input-label">Address*&nbsp;<small ng-show="" style="font-size:50%">Some validation</small></span>
              <input ng-model="package.senderAddr" type="text" placeholder="Full Address">
            </label>


      <label class="item item-input item-stacked-label">
              <span class="input-label">Phone&nbsp;<small  style="font-size:50%">Min 10 chars</small></span>
              <input ng-model="package.senderPhone" type="text" placeholder="(314)-234-9876" maxlength="12"></textarea>
            </label>


      <label class="item item-input item-stacked-label">
              <span class="input-label">Email&nbsp;</span>
              <input ng-model="package.senderEmail" type="email" placeholder="someone@gmail.com"></textarea>
            </label>




      <div class="item item-divider">
        Receiver Info
      </div>
      <label class="item item-input item-stacked-label">
              <span class="input-label">Address*&nbsp;<small ng-show="" style="font-size:50%">Some validation</small></span>
              <input ng-model="package.receiverAddr" type="text" placeholder="Full Name">
            </label>

      <label class="item item-input item-stacked-label">
              <span class="input-label">Phone&nbsp;<small  style="font-size:50%">Min 10 chars</small></span>
              <input ng-model="package.recieverPhone" type="text" placeholder="(314)-234-9876" maxlength="12"></textarea>
            </label>


      <label class="item item-input item-stacked-label">
              <span class="input-label">Email&nbsp;</span>
              <input ng-model="package.recieverEmail" type="email" placeholder="someone@gmail.com"></textarea>
            </label>





      <div class="item item-divider">
        Instructions
      </div>
      <label class="item item-input item-stacked-label">
                  <div class="row">
                      <div class="col col-50">
                        <span class="input-label">Signed Delivery Required?</span>
                        <p></p>
                        <small  style="font-size:50%">Turn off to enter Address</small>
                      </div>
                      <div class="col col-50">
                        <label class="toggle pull-right">
                          <input type="checkbox" ng-model="package.confirm">
                          <div class="track">
                            <div class="handle"></div>
                          </div>
                        </label>
    </div>
    </div>
    </label>




    <ion-checkbox class="checkbox-royal" ng-model="package.fragile">Fragile?</ion-checkbox>



    <label class="item item-input item-stacked-label">
              <span class="input-label">Instructions*&nbsp;<small ng-show="!isDescValid(form.story)" style="font-size:50%">Min 100 chars</small></span>
              <textarea ng-model="package.instructions" type="text" placeholder="Detailed Story" rows="2" cols="10"></textarea>
            </label>
    </div>

    <div class="center row">
      <div class="col">
        <button class="button button-block button-positive" ng-click="showConfirm()">Pick Up</button>
      </div> 

    </div>
  </ion-content>
</ion-view>