


<ion-view view-title="BxChange Escrow Account">

  <ion-content delegate-handle="">

<div class="list">

    <a class="item item-thumbnail-left" ng-repeat="sender in friends | filter:searchText" href="/#!/senders/{{sender.id}}">
      <img src="https://avatars2.githubusercontent.com/u/3466845?v=3&s=460">
      <h2>{{sender.name}}</h2>
      <p>{{sender.phone}}</p>
    </a>
</div>
  </ion-content>
</ion-view>
<!--

<label>Search: <input ng-model="searchText"></label>
<div class="list-group">
  <a ng-repeat="friend in friends | filter:searchText" href="/#!/senders/{{friend.id}}" class="list-group-item list-group-item-action flex-column align-items-start ">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">{{friend.name}}</h5>
      <small>{{friend.phone}}</small>
    </div>
    <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
    <small>Donec id elit non mi porta.</small>

  </a>

</div>



<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-success">Save changes</button>
      </div>
    </div>
  </div>
</div>-->